@import url(https://fonts.googleapis.com/css?family=Ubuntu&display=swap);
/*
! tailwindcss v3.0.24 | MIT License | https://tailwindcss.com
*/
/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/
*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: #e5e7eb; /* 2 */
}
::before,
::after {
  --tw-content: '';
}
/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
*/
html {
  line-height: 1.5; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
  font-family: Ubuntu, Sans-serif; /* 4 */
}
/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/
body {
  margin: 0; /* 1 */
  line-height: inherit; /* 2 */
}
/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
  border-top-width: 1px; /* 3 */
}
/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}
/*
Remove the default font size and weight for headings.
*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*
Reset links to optimize for opt-in styling instead of opt-out.
*/
a {
  color: inherit;
  text-decoration: inherit;
}
/*
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}
/*
1. Use the user's configured `mono` font family by default.
2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; /* 1 */
  font-size: 1em; /* 2 */
}
/*
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}
/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
  border-collapse: collapse; /* 3 */
}
/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: inherit; /* 1 */
  color: inherit; /* 1 */
  margin: 0; /* 2 */
  padding: 0; /* 3 */
}
/*
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}
/*
Use the modern Firefox focus style for all focusable elements.
*/
:-moz-focusring {
  outline: auto;
}
/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/
:-moz-ui-invalid {
  box-shadow: none;
}
/*
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}
/*
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}
/*
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}
/*
Removes the default spacing and border for appropriate elements.
*/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
fieldset {
  margin: 0;
  padding: 0;
}
legend {
  padding: 0;
}
ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*
Prevent resizing textareas horizontally by default.
*/
textarea {
  resize: vertical;
}
/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/
input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
input::placeholder,
textarea::placeholder {
  opacity: 1; /* 1 */
  color: #9ca3af; /* 2 */
}
/*
Set the default cursor for buttons.
*/
button,
[role="button"] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block; /* 1 */
  vertical-align: middle; /* 2 */
}
/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/
img,
video {
  max-width: 100%;
  height: auto;
}
/*
Ensure the default browser behavior of the `hidden` attribute.
*/
[hidden] {
  display: none;
}
*, ::before, ::after{
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
}
/* PrismJS 1.19.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript+http+javadoclike+json+jsonp+json5+markup-templating+php+phpdoc+plsql+python+sass+scss+sql&plugins=unescaped-markup+normalize-whitespace+toolbar+copy-to-clipboard */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*=language-],
pre[class*=language-] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-],
pre[class*=language-] {
  background: #2d2d2d;
}

/* Inline code */
:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999;
}

.token.punctuation {
  color: #ccc;
}

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a;
}

.token.function-name {
  color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
  color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699;
}

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

.token.inserted {
  color: green;
}

/* Fallback, in case JS does not run, to ensure the code is at least visible */
[class*=lang-] script[type="text/plain"],
[class*=language-] script[type="text/plain"],
script[type="text/plain"][class*=lang-],
script[type="text/plain"][class*=language-] {
  display: block;
  font: 100% Consolas, Monaco, monospace;
  white-space: pre;
  overflow: auto;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar a {
  cursor: pointer;
}

div.code-toolbar > .toolbar button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
  color: inherit;
  text-decoration: none;
}

body, h1, h2, h3, h4, h5, h6, p, a{
  text-transform: capitalize;
}

p{
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.05em;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.h1{
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 900;
}

.h2{
  font-size: 3rem;
  line-height: 1;
  font-weight: 800;
}

.h3{
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 800;
}

.h4{
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 800;
}

.h5{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 800;
}

.h6{
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 800;
}

.card{
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.card .card-header{
  border-bottom-width: 1px;
  padding: 1.5rem;
}
.card .card-body{
  padding: 1.5rem;
}
.card .card-footer{
  border-top-width: 1px;
  padding: 1.5rem;
}

.btn-shadow{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-shadow:hover{
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.btn{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(147 197 253 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}

.btn-indigo{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(224 231 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-indigo:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(199 210 254 / var(--tw-text-opacity));
}

.btn-info{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(253 224 71 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-info:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(250 204 21 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity));
}

.btn-danger{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-danger:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity));
}

.btn-gray{
  display: block;
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-gray:hover{
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.btn-bs-dark{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-dark:hover{
  opacity: 0.75;
}

.btn-bs-primary{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-primary:hover{
  opacity: 0.75;
}

.btn-bs-secondary{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-secondary:hover{
  opacity: 0.75;
}

.btn-bs-success{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-success:hover{
  opacity: 0.75;
}

.btn-bs-danger{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-danger:hover{
  opacity: 0.75;
}

.btn-bs-info{
  display: block;
  border-radius: 0.25rem;
  --tw-bg-opacity: 1;
  background-color: rgb(234 179 8 / var(--tw-bg-opacity));
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  text-align: center;
  text-transform: capitalize;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-bs-info:hover{
  opacity: 0.75;
}

.menu-overflow:focus {
  outline: none;
}

code[class*=language-],
pre[class*=language-] {
  border-radius: 5px;
  text-transform: lowercase;
}

div.code-toolbar .toolbar {
  opacity: 1 !important;
}
div.code-toolbar .toolbar button {
  transition: all 0.2s !important;
  padding: 10px 20px !important;
  border-radius: 4px !important;
  background: transparent !important;
  box-shadow: 0 0 0 !important;
  letter-spacing: 1px !important;
  font-weight: 900 !important;
}
div.code-toolbar .toolbar button:hover {
  background-color: #fff !important;
}

.badge {
  padding: 2px 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.badge-primary{
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(147 197 253 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity));
  text-transform: lowercase;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.alert{
  border-radius: 0.25rem;
  border-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.alert a{
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 800;
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.alert a:hover{
  opacity: 0.75;
}

.alert-default{
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.alert-default a{
  --tw-text-opacity: 1;
  color: rgb(29 78 216 / var(--tw-text-opacity));
}

.alert-light{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}
.alert-light a{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.alert-dark{
  --tw-border-opacity: 1;
  border-color: rgb(17 24 39 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.alert-dark a{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.alert-success{
  --tw-border-opacity: 1;
  border-color: rgb(134 239 172 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}
.alert-success a{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.alert-error{
  --tw-border-opacity: 1;
  border-color: rgb(252 165 165 / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}
.alert-error a{
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.alert-close{
  display: flex;
  flex-direction: row-reverse;
}
.alert-close button.alert-btn-close{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.alert-close button.alert-btn-close:hover{
  opacity: 0.75;
}
.alert-close span{
  flex: 1 1 0%;
}

.report-card:hover .card{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transform: scale(1.01);
}
.report-card:hover .footer{
  border-width: 0px;
  padding: 0px;
}
.report-card .footer, .report-card .card{
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.top-0{
  top: 0px;
}

.right-0{
  right: 0px;
}

.left-0{
  left: 0px;
}

.z-10{
  z-index: 10;
}

.z-20{
  z-index: 20;
}

.col-span-6{
  grid-column: span 6 / span 6;
}

.col-span-2{
  grid-column: span 2 / span 2;
}

.col-span-1{
  grid-column: span 1 / span 1;
}

.m-0{
  margin: 0px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.my-6{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.my-5{
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

.my-10{
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.mx-4{
  margin-left: 1rem;
  margin-right: 1rem;
}

.mb-auto{
  margin-bottom: auto;
}

.ml-10{
  margin-left: 2.5rem;
}

.mt-4{
  margin-top: 1rem;
}

.mr-4{
  margin-right: 1rem;
}

.ml-auto{
  margin-left: auto;
}

.mt-3{
  margin-top: 0.75rem;
}

.mb-4{
  margin-bottom: 1rem;
}

.mt-auto{
  margin-top: auto;
}

.mr-3{
  margin-right: 0.75rem;
}

.mt-2{
  margin-top: 0.5rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-16{
  margin-top: 4rem;
}

.ml-1{
  margin-left: 0.25rem;
}

.mr-2{
  margin-right: 0.5rem;
}

.ml-2{
  margin-left: 0.5rem;
}

.ml-4{
  margin-left: 1rem;
}

.mt-8{
  margin-top: 2rem;
}

.ml-12{
  margin-left: 3rem;
}

.-mt-px{
  margin-top: -1px;
}

.mr-6{
  margin-right: 1.5rem;
}

.mr-1{
  margin-right: 0.25rem;
}

.mr-5{
  margin-right: 1.25rem;
}

.mb-3{
  margin-bottom: 0.75rem;
}

.ml-3{
  margin-left: 0.75rem;
}

.ml-6{
  margin-left: 1.5rem;
}

.mr-8{
  margin-right: 2rem;
}

.mt-0{
  margin-top: 0px;
}

.mt-6{
  margin-top: 1.5rem;
}

.mt-10{
  margin-top: 2.5rem;
}

.mb-10{
  margin-bottom: 2.5rem;
}

.mt-20{
  margin-top: 5rem;
}

.mb-2{
  margin-bottom: 0.5rem;
}

.mt-1{
  margin-top: 0.25rem;
}

.mb-1{
  margin-bottom: 0.25rem;
}

.mb-6{
  margin-bottom: 1.5rem;
}

.mb-5{
  margin-bottom: 1.25rem;
}

.block{
  display: block;
}

.inline-block{
  display: inline-block;
}

.flex{
  display: flex;
}

.table{
  display: table;
}

.grid{
  display: grid;
}

.hidden{
  display: none;
}

.h-screen{
  height: 100vh;
}

.h-5{
  height: 1.25rem;
}

.h-8{
  height: 2rem;
}

.h-16{
  height: 4rem;
}

.h-full{
  height: 100%;
}

.h-10{
  height: 2.5rem;
}

.h-32{
  height: 8rem;
}

.h-2{
  height: 0.5rem;
}

.min-h-screen{
  min-height: 100vh;
}

.w-72{
  width: 18rem;
}

.w-full{
  width: 100%;
}

.w-1\/3{
  width: 33.333333%;
}

.w-5{
  width: 1.25rem;
}

.w-8{
  width: 2rem;
}

.w-auto{
  width: auto;
}

.w-56{
  width: 14rem;
}

.w-10{
  width: 2.5rem;
}

.w-40{
  width: 10rem;
}

.w-84{
  width: 21rem;
}

.w-64{
  width: 16rem;
}

.w-32{
  width: 8rem;
}

.w-1\/2{
  width: 50%;
}

.w-1\/4{
  width: 25%;
}

.w-2\/3{
  width: 66.666667%;
}

.w-3\/4{
  width: 75%;
}

.max-w-2xl{
  max-width: 42rem;
}

.max-w-6xl{
  max-width: 72rem;
}

.flex-1{
  flex: 1 1 0%;
}

.flex-none{
  flex: none;
}

.table-auto{
  table-layout: auto;
}

.table-fixed{
  table-layout: fixed;
}

.grid-cols-1{
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-8{
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-3{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-4{
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5{
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6{
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.flex-row{
  flex-direction: row;
}

.flex-row-reverse{
  flex-direction: row-reverse;
}

.flex-col{
  flex-direction: column;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-end{
  align-items: flex-end;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-6{
  gap: 1.5rem;
}

.gap-5{
  gap: 1.25rem;
}

.overflow-hidden{
  overflow: hidden;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-full{
  border-radius: 9999px;
}

.rounded-md{
  border-radius: 0.375rem;
}

.rounded-t-none{
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.border{
  border-width: 1px;
}

.border-b{
  border-bottom-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-r{
  border-right-width: 1px;
}

.border-t-0{
  border-top-width: 0px;
}

.border-b-0{
  border-bottom-width: 0px;
}

.border-l-0{
  border-left-width: 0px;
}

.border-r-0{
  border-right-width: 0px;
}

.border-orange-400{
  --tw-border-opacity: 1;
  border-color: rgb(246 173 85 / var(--tw-border-opacity));
}

.border-gray-900{
  --tw-border-opacity: 1;
  border-color: rgb(17 24 39 / var(--tw-border-opacity));
}

.border-gray-200{
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.border-gray-300{
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.border-blue-200{
  --tw-border-opacity: 1;
  border-color: rgb(191 219 254 / var(--tw-border-opacity));
}

.bg-orange-400{
  --tw-bg-opacity: 1;
  background-color: rgb(246 173 85 / var(--tw-bg-opacity));
}

.bg-gray-800{
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.bg-gray-100{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.bg-gray-700{
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.bg-gray-900{
  --tw-bg-opacity: 1;
  background-color: rgb(17 24 39 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-blue-100{
  --tw-bg-opacity: 1;
  background-color: rgb(219 234 254 / var(--tw-bg-opacity));
}

.bg-blue-400{
  --tw-bg-opacity: 1;
  background-color: rgb(96 165 250 / var(--tw-bg-opacity));
}

.bg-red-400{
  --tw-bg-opacity: 1;
  background-color: rgb(248 113 113 / var(--tw-bg-opacity));
}

.bg-indigo-600{
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity));
}

.bg-green-600{
  --tw-bg-opacity: 1;
  background-color: rgb(22 163 74 / var(--tw-bg-opacity));
}

.bg-yellow-600{
  --tw-bg-opacity: 1;
  background-color: rgb(202 138 4 / var(--tw-bg-opacity));
}

.bg-red-600{
  --tw-bg-opacity: 1;
  background-color: rgb(220 38 38 / var(--tw-bg-opacity));
}

.bg-pink-600{
  --tw-bg-opacity: 1;
  background-color: rgb(219 39 119 / var(--tw-bg-opacity));
}

.bg-green-200{
  --tw-bg-opacity: 1;
  background-color: rgb(187 247 208 / var(--tw-bg-opacity));
}

.bg-red-200{
  --tw-bg-opacity: 1;
  background-color: rgb(254 202 202 / var(--tw-bg-opacity));
}

.bg-gray-300{
  --tw-bg-opacity: 1;
  background-color: rgb(209 213 219 / var(--tw-bg-opacity));
}

.object-cover{
  -o-object-fit: cover;
     object-fit: cover;
}

.p-4{
  padding: 1rem;
}

.p-6{
  padding: 1.5rem;
}

.p-2{
  padding: 0.5rem;
}

.p-0{
  padding: 0px;
}

.p-1{
  padding: 0.25rem;
}

.p-3{
  padding: 0.75rem;
}

.p-5{
  padding: 1.25rem;
}

.p-8{
  padding: 2rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-2{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-1{
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-4{
  padding-left: 1rem;
  padding-right: 1rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.py-3{
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.py-1{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pt-8{
  padding-top: 2rem;
}

.pl-3{
  padding-left: 0.75rem;
}

.pb-10{
  padding-bottom: 2.5rem;
}

.text-left{
  text-align: left;
}

.text-center{
  text-align: center;
}

.text-right{
  text-align: right;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.font-light{
  font-weight: 300;
}

.font-semibold{
  font-weight: 600;
}

.font-medium{
  font-weight: 500;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-thin{
  font-weight: 100;
}

.uppercase{
  text-transform: uppercase;
}

.lowercase{
  text-transform: lowercase;
}

.capitalize{
  text-transform: capitalize;
}

.leading-7{
  line-height: 1.75rem;
}

.leading-none{
  line-height: 1;
}

.tracking-wide{
  letter-spacing: 0.025em;
}

.tracking-wider{
  letter-spacing: 0.05em;
}

.tracking-widest{
  letter-spacing: 0.1em;
}

.text-gray-800{
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity));
}

.text-gray-600{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-gray-100{
  --tw-text-opacity: 1;
  color: rgb(243 244 246 / var(--tw-text-opacity));
}

.text-gray-200{
  --tw-text-opacity: 1;
  color: rgb(229 231 235 / var(--tw-text-opacity));
}

.text-gray-500{
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.text-gray-400{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-gray-300{
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity));
}

.text-gray-700{
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.text-gray-900{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.text-blue-500{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.text-indigo-700{
  --tw-text-opacity: 1;
  color: rgb(67 56 202 / var(--tw-text-opacity));
}

.text-green-700{
  --tw-text-opacity: 1;
  color: rgb(21 128 61 / var(--tw-text-opacity));
}

.text-yellow-700{
  --tw-text-opacity: 1;
  color: rgb(161 98 7 / var(--tw-text-opacity));
}

.text-red-700{
  --tw-text-opacity: 1;
  color: rgb(185 28 28 / var(--tw-text-opacity));
}

.text-blue-800{
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity));
}

.text-blue-400{
  --tw-text-opacity: 1;
  color: rgb(96 165 250 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.text-yellow-600{
  --tw-text-opacity: 1;
  color: rgb(202 138 4 / var(--tw-text-opacity));
}

.text-green-500{
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity));
}

.text-yellow-500{
  --tw-text-opacity: 1;
  color: rgb(234 179 8 / var(--tw-text-opacity));
}

.text-red-500{
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-green-900{
  --tw-text-opacity: 1;
  color: rgb(20 83 45 / var(--tw-text-opacity));
}

.text-green-400{
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}

.text-red-900{
  --tw-text-opacity: 1;
  color: rgb(127 29 29 / var(--tw-text-opacity));
}

.text-red-400{
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity));
}

.underline{
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.antialiased{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.opacity-75{
  opacity: 0.75;
}

.shadow-md{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow{
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.transition-opacity{
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-colors{
  transition-property: color, background-color, border-color, fill, stroke, -webkit-text-decoration-color;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, -webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition{
  transition-property: color, background-color, border-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-500{
  transition-duration: 500ms;
}

.duration-300{
  transition-duration: 300ms;
}

.ease-in-out{
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@-webkit-keyframes bounce{
  from, 20%, 53%, 80%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43%{
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70%{
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90%{
    transform: translate3d(0, -4px, 0);
  }
}

@keyframes bounce{
  from, 20%, 53%, 80%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }
  40%, 43%{
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0);
  }
  70%{
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0);
  }
  90%{
    transform: translate3d(0, -4px, 0);
  }
}

@-webkit-keyframes flash{
  from, 50%, to{
    opacity: 1;
  }
  25%, 75%{
    opacity: 0;
  }
}

@keyframes flash{
  from, 50%, to{
    opacity: 1;
  }
  25%, 75%{
    opacity: 0;
  }
}

@-webkit-keyframes pulse{
  from{
    transform: scale3d(1, 1, 1);
  }
  50%{
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse{
  from{
    transform: scale3d(1, 1, 1);
  }
  50%{
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes rubberBand{
  from{
    transform: scale3d(1, 1, 1);
  }
  30%{
    transform: scale3d(1.25, 0.75, 1);
  }
  40%{
    transform: scale3d(0.75, 1.25, 1);
  }
  50%{
    transform: scale3d(1.15, 0.85, 1);
  }
  65%{
    transform: scale3d(0.95, 1.05, 1);
  }
  75%{
    transform: scale3d(1.05, 0.95, 1);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@keyframes rubberBand{
  from{
    transform: scale3d(1, 1, 1);
  }
  30%{
    transform: scale3d(1.25, 0.75, 1);
  }
  40%{
    transform: scale3d(0.75, 1.25, 1);
  }
  50%{
    transform: scale3d(1.15, 0.85, 1);
  }
  65%{
    transform: scale3d(0.95, 1.05, 1);
  }
  75%{
    transform: scale3d(1.05, 0.95, 1);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes shakeX{
  from, to{
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80%{
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shakeX{
  from, to{
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80%{
    transform: translate3d(10px, 0, 0);
  }
}

@-webkit-keyframes shakeY{
  from, to{
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80%{
    transform: translate3d(0, 10px, 0);
  }
}

@keyframes shakeY{
  from, to{
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90%{
    transform: translate3d(0, -10px, 0);
  }
  20%, 40%, 60%, 80%{
    transform: translate3d(0, 10px, 0);
  }
}

@-webkit-keyframes headShake{
  0%{
    transform: translateX(0);
  }
  6.5%{
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5%{
    transform: translateX(5px) rotateY(7deg);
  }
  31.5%{
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5%{
    transform: translateX(2px) rotateY(3deg);
  }
  50%{
    transform: translateX(0);
  }
}

@keyframes headShake{
  0%{
    transform: translateX(0);
  }
  6.5%{
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5%{
    transform: translateX(5px) rotateY(7deg);
  }
  31.5%{
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5%{
    transform: translateX(2px) rotateY(3deg);
  }
  50%{
    transform: translateX(0);
  }
}

@-webkit-keyframes swing{
  20%{
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40%{
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60%{
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80%{
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@keyframes swing{
  20%{
    transform: rotate3d(0, 0, 1, 15deg);
  }
  40%{
    transform: rotate3d(0, 0, 1, -10deg);
  }
  60%{
    transform: rotate3d(0, 0, 1, 5deg);
  }
  80%{
    transform: rotate3d(0, 0, 1, -5deg);
  }
  to{
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

@-webkit-keyframes tada{
  from{
    transform: scale3d(1, 1, 1);
  }
  10%, 20%{
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90%{
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80%{
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada{
  from{
    transform: scale3d(1, 1, 1);
  }
  10%, 20%{
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90%{
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80%{
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to{
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes wobble{
  from{
    transform: translate3d(0, 0, 0);
  }
  15%{
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30%{
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45%{
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60%{
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75%{
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes wobble{
  from{
    transform: translate3d(0, 0, 0);
  }
  15%{
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }
  30%{
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }
  45%{
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }
  60%{
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }
  75%{
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes jello{
  from, 11.1% to{
    transform: translate3d(0, 0, 0);
  }
  22.2%{
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3%{
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4%{
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5%{
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6%{
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7%{
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8%{
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@keyframes jello{
  from, 11.1% to{
    transform: translate3d(0, 0, 0);
  }
  22.2%{
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }
  33.3%{
    transform: skewX(6.25deg) skewY(6.25deg);
  }
  44.4%{
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }
  55.5%{
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }
  66.6%{
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }
  77.7%{
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }
  88.8%{
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

@-webkit-keyframes heartBeat{
  0%{
    transform: scale(1);
  }
  14%{
    transform: scale(1.3);
  }
  28%{
    transform: scale(1);
  }
  42%{
    transform: scale(1.3);
  }
  70%{
    transform: scale(1);
  }
}

@keyframes heartBeat{
  0%{
    transform: scale(1);
  }
  14%{
    transform: scale(1.3);
  }
  28%{
    transform: scale(1);
  }
  42%{
    transform: scale(1.3);
  }
  70%{
    transform: scale(1);
  }
}

@-webkit-keyframes hinge{
  0%{
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60%{
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40%, 80%{
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to{
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@keyframes hinge{
  0%{
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  20%, 60%{
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  40%, 80%{
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  to{
    transform: translate3d(0, 700px, 0);
    opacity: 0;
  }
}

@-webkit-keyframes jackInTheBox{
  from{
    opacity: 0;
    transform-origin: center bottom;
    transform: scale(0.1) rotate(30deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  70%{
    transform: rotate(3deg);
  }
  to{
    transform: scale(1);
  }
}

@keyframes jackInTheBox{
  from{
    opacity: 0;
    transform-origin: center bottom;
    transform: scale(0.1) rotate(30deg);
  }
  50%{
    transform: rotate(-10deg);
  }
  70%{
    transform: rotate(3deg);
  }
  to{
    transform: scale(1);
  }
}

@-webkit-keyframes lightSpeedInLeft{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(-30deg);
  }
  60%{
    opacity: 1;
    transform: skewX(20deg);
  }
  80%{
    transform: skewX(-5deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedInLeft{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(-30deg);
  }
  60%{
    opacity: 1;
    transform: skewX(20deg);
  }
  80%{
    transform: skewX(-5deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes lightSpeedInRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(-30deg);
  }
  60%{
    opacity: 1;
    transform: skewX(20deg);
  }
  80%{
    transform: skewX(-5deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes lightSpeedInRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(-30deg);
  }
  60%{
    opacity: 1;
    transform: skewX(20deg);
  }
  80%{
    transform: skewX(-5deg);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes lightSpeedOutLeft{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(30deg);
  }
}

@keyframes lightSpeedOutLeft{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(30deg);
  }
}

@-webkit-keyframes lightSpeedOutRight{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(30deg);
  }
}

@keyframes lightSpeedOutRight{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) skewX(30deg);
  }
}

@-webkit-keyframes flip{
  from{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40%{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80%{
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@keyframes flip{
  from{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  40%{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  50%{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80%{
    transform: perspective(400px) scale3d(0.95, 0.95, 0.95) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  to{
    transform: perspective(400px) scale3d(1, 1, 1) translate3d(0, 0, 0) rotate3d(0, 1, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
}

@-webkit-keyframes flipInX{
  from{
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40%{
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60%{
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80%{
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to{
    transform: perspective(400px);
  }
}

@keyframes flipInX{
  from{
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40%{
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60%{
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }
  80%{
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }
  to{
    transform: perspective(400px);
  }
}

@-webkit-keyframes flipInY{
  from{
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40%{
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60%{
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80%{
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to{
    transform: perspective(400px);
  }
}

@keyframes flipInY{
  from{
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  40%{
    transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  60%{
    transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
    opacity: 1;
  }
  80%{
    transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
  }
  to{
    transform: perspective(400px);
  }
}

@-webkit-keyframes flipOutX{
  from{
    transform: perspective(400px);
  }
  30%{
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to{
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutX{
  from{
    transform: perspective(400px);
  }
  30%{
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }
  to{
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@-webkit-keyframes flipOutY{
  from{
    transform: perspective(400px);
  }
  30%{
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  to{
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@keyframes flipOutY{
  from{
    transform: perspective(400px);
  }
  30%{
    transform: perspective(400px) rotate3d(0, 1, 0, -15deg);
    opacity: 1;
  }
  to{
    transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateIn{
  from{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to{
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateIn{
  from{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  to{
    transform-origin: center;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInDownLeft{
  from{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to{
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInDownLeft{
  from{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
  to{
    transform-origin: left bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInDownRight{
  from{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to{
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInDownRight{
  from{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to{
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInUpLeft{
  from{
    transform-origin: left top;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to{
    transform-origin: left top;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpLeft{
  from{
    transform-origin: left top;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
  to{
    transform-origin: left top;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateInUpRight{
  from{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to{
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes rotateInUpRight{
  from{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0;
  }
  to{
    transform-origin: right bottom;
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes rotateOut{
  from{
    transform-origin: center;
    opacity: 1;
  }
  to{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

@keyframes rotateOut{
  from{
    transform-origin: center;
    opacity: 1;
  }
  to{
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutDownLeft{
  from{
    transform-origin: left bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownLeft{
  from{
    transform-origin: left bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutDownRight{
  from{
    transform-origin: right bottom;
    opacity: 1;
  }
  to{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@keyframes rotateOutDownRight{
  from{
    transform-origin: right bottom;
    opacity: 1;
  }
  to{
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutUpLeft{
  from{
    transform-origin: left bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpLeft{
  from{
    transform-origin: left bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }
}

@-webkit-keyframes rotateOutUpRight{
  from{
    transform-origin: right bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

@keyframes rotateOutUpRight{
  from{
    transform-origin: right bottom;
    opacity: 1;
  }
  to{
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0;
  }
}

@-webkit-keyframes rollIn{
  from{
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes rollIn{
  from{
    opacity: 0;
    transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes rollOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@keyframes rollOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

@-webkit-keyframes zoomIn{
  from{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50%{
    opacity: 1;
  }
}

@keyframes zoomIn{
  from{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50%{
    opacity: 1;
  }
}

@-webkit-keyframes zoomInDown{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInLeft{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInLeft{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInRight{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomInUp{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInUp{
  from{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  60%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes bounceIn{
  from, 20%, 40%, 60%, 80%, to{
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  0%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20%{
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%{
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60%{
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }
  80%{
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to{
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn{
  from, 20%, 40%, 60%, 80%, to{
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
  }
  0%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20%{
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40%{
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60%{
    transform: scale3d(1.03, 1.03, 1.03);
    opacity: 1;
  }
  80%{
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to{
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes bounceInDown{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75%{
    transform: translate3d(0, -10px, 0);
  }
  90%{
    transform: translate3d(0, 5px, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }
  75%{
    transform: translate3d(0, -10px, 0);
  }
  90%{
    transform: translate3d(0, 5px, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInLeft{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75%{
    transform: translate3d(-10px, 0, 0);
  }
  90%{
    transform: translate3d(5px, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }
  75%{
    transform: translate3d(-10px, 0, 0);
  }
  90%{
    transform: translate3d(5px, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInRight{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75%{
    transform: translate3d(10px, 0, 0);
  }
  90%{
    transform: translate3d(-5px, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInRight{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }
  75%{
    transform: translate3d(10px, 0, 0);
  }
  90%{
    transform: translate3d(-5px, 0, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceInUp{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75%{
    transform: translate3d(0, 10px, 0);
  }
  90%{
    transform: translate3d(0, -5px, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInUp{
  from, 60%, 75%, 90%, to{
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0%{
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75%{
    transform: translate3d(0, 10px, 0);
  }
  90%{
    transform: translate3d(0, -5px, 0);
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes bounceOut{
  20%{
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55%{
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@keyframes bounceOut{
  20%{
    transform: scale3d(0.9, 0.9, 0.9);
  }
  50%, 55%{
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  to{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}

@-webkit-keyframes bounceOutDown{
  20%{
    transform: translate3d(0, 10px, 0);
  }
  40%, 45%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown{
  20%{
    transform: translate3d(0, 10px, 0);
  }
  40%, 45%{
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@-webkit-keyframes bounceOutLeft{
  20%{
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes bounceOutLeft{
  20%{
    opacity: 1;
    transform: translate3d(20px, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@-webkit-keyframes bounceOutRight{
  20%{
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes bounceOutRight{
  20%{
    opacity: 1;
    transform: translate3d(-20px, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes bounceOutUp{
  20%{
    transform: translate3d(0, -10px, 0);
  }
  40%, 45%{
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp{
  20%{
    transform: translate3d(0, -10px, 0);
  }
  40%, 45%{
    opacity: 1;
    transform: translate3d(0, 20px, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes zoomOut{
  from{
    opacity: 1;
  }
  50%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to{
    opacity: 0;
  }
}

@keyframes zoomOut{
  from{
    opacity: 1;
  }
  50%{
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to{
    opacity: 0;
  }
}

@-webkit-keyframes zoomOutDown{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutDown{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes zoomOutLeft{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to{
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

@keyframes zoomOutLeft{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0);
  }
  to{
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

@-webkit-keyframes zoomOutRight{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to{
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

@keyframes zoomOutRight{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0);
  }
  to{
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center;
  }
}

@-webkit-keyframes zoomOutUp{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomOutUp{
  40%{
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
            animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  to{
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@-webkit-keyframes slideInDown{
  from{
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown{
  from{
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInLeft{
  from{
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft{
  from{
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInRight{
  from{
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight{
  from{
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp{
  from{
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp{
  from{
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to{
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideOutDown{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes slideOutLeft{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes slideOutLeft{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes slideOutRight{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes slideOutUp{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes slideOutUp{
  from{
    transform: translate3d(0, 0, 0);
  }
  to{
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown{
  from{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown{
  from{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInDownBig{
  from{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDownBig{
  from{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInLeftBig{
  from{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig{
  from{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInRightBig{
  from{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRightBig{
  from{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInTopLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInTopLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInTopRight{
  from{
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInTopRight{
  from{
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInBottomLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottomLeft{
  from{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInBottomRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInBottomRight{
  from{
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeInUpBig{
  from{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUpBig{
  from{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}

@-webkit-keyframes fadeOutDown{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@-webkit-keyframes fadeOutDownBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes fadeOutDownBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, 2000px, 0);
  }
}

@-webkit-keyframes fadeOutLeft{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes fadeOutLeft{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
}

@-webkit-keyframes fadeOutLeftBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@keyframes fadeOutLeftBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
}

@-webkit-keyframes fadeOutRight{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes fadeOutRight{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
}

@-webkit-keyframes fadeOutRightBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@keyframes fadeOutRightBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(2000px, 0, 0);
  }
}

@-webkit-keyframes fadeOutUp{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

@-webkit-keyframes fadeOutUpBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes fadeOutUpBig{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@-webkit-keyframes fadeOutTopLeft{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
}

@keyframes fadeOutTopLeft{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, -100%, 0);
  }
}

@-webkit-keyframes fadeOutTopRight{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
}

@keyframes fadeOutTopRight{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(100%, -100%, 0);
  }
}

@-webkit-keyframes fadeOutBottomLeft{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}

@keyframes fadeOutBottomLeft{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}

@-webkit-keyframes fadeOutBottomRight{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
}

@keyframes fadeOutBottomRight{
  from{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to{
    opacity: 0;
    transform: translate3d(100%, 100%, 0);
  }
}

@-webkit-keyframes backInDown{
  0%{
    opacity: 0.7;
    transform: translateY(-1200px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backInDown{
  0%{
    opacity: 0.7;
    transform: translateY(-1200px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes backInUp{
  0%{
    opacity: 0.7;
    transform: translateY(1200px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backInUp{
  0%{
    opacity: 0.7;
    transform: translateY(1200px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes backInLeft{
  0%{
    opacity: 0.7;
    transform: translateX(-2000px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateX(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backInLeft{
  0%{
    opacity: 0.7;
    transform: translateX(-2000px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateX(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes backInRight{
  0%{
    opacity: 0.7;
    transform: translateX(2000px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes backInRight{
  0%{
    opacity: 0.7;
    transform: translateX(2000px) scale(0.7);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes backOutDown{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(700px) scale(0.7);
  }
}

@keyframes backOutDown{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(700px) scale(0.7);
  }
}

@-webkit-keyframes backOutUp{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(-700px) scale(0.7);
  }
}

@keyframes backOutUp{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(-700px) scale(0.7);
  }
}

@-webkit-keyframes backOutLeft{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateX(-2000px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(-700px) scale(0.7);
  }
}

@keyframes backOutLeft{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateX(-2000px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateY(-700px) scale(0.7);
  }
}

@-webkit-keyframes backOutRight{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateX(2000px) scale(0.7);
  }
}

@keyframes backOutRight{
  0%{
    opacity: 1;
    transform: scale(1);
  }
  80%{
    opacity: 0.7;
    transform: translateY(0px) scale(0.7);
  }
  100%{
    opacity: 0.7;
    transform: translateX(2000px) scale(0.7);
  }
}

.hover\:bg-gray-200:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.hover\:text-gray-600:hover{
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity));
}

.hover\:text-gray-400:hover{
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.hover\:text-gray-900:hover{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.hover\:text-blue-500:hover{
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}

.hover\:text-blue-600:hover{
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.hover\:opacity-100:hover{
  opacity: 1;
}

.hover\:shadow-md:hover{
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.focus\:text-gray-900:focus{
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

.focus\:outline-none:focus{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (prefers-color-scheme: dark){
  .dark\:border-gray-700{
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
  }
  .dark\:bg-gray-900{
    --tw-bg-opacity: 1;
    background-color: rgb(17 24 39 / var(--tw-bg-opacity));
  }
  .dark\:bg-gray-800{
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--tw-bg-opacity));
  }
  .dark\:text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
  }
  .dark\:text-white{
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .dark\:text-gray-400{
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }
}

@media (max-width: 639px){
  .sm\:ml-0{
    margin-left: 0px;
  }
  .sm\:block{
    display: block;
  }
  .sm\:h-20{
    height: 5rem;
  }
  .sm\:items-center{
    align-items: center;
  }
  .sm\:justify-start{
    justify-content: flex-start;
  }
  .sm\:justify-between{
    justify-content: space-between;
  }
  .sm\:rounded-lg{
    border-radius: 0.5rem;
  }
  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:pt-0{
    padding-top: 0px;
  }
  .sm\:text-left{
    text-align: left;
  }
  .sm\:text-right{
    text-align: right;
  }
}

@media (max-width: 767px){
  .md\:static{
    position: static;
  }
  .md\:fixed{
    position: fixed;
  }
  .md\:top-0{
    top: 0px;
  }
  .md\:left-0{
    left: 0px;
  }
  .md\:right-0{
    right: 0px;
  }
  .md\:z-20{
    z-index: 20;
  }
  .md\:z-30{
    z-index: 30;
  }
  .md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }
  .md\:ml-0{
    margin-left: 0px;
  }
  .md\:mb-3{
    margin-bottom: 0.75rem;
  }
  .md\:mt-16{
    margin-top: 4rem;
  }
  .md\:mt-2{
    margin-top: 0.5rem;
  }
  .md\:mb-10{
    margin-bottom: 2.5rem;
  }
  .md\:mt-10{
    margin-top: 2.5rem;
  }
  .md\:-ml-64{
    margin-left: -16rem;
  }
  .md\:block{
    display: block;
  }
  .md\:flex{
    display: flex;
  }
  .md\:hidden{
    display: none;
  }
  .md\:h-screen{
    height: 100vh;
  }
  .md\:w-48{
    width: 12rem;
  }
  .md\:w-full{
    width: 100%;
  }
  .md\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .md\:flex-row{
    flex-direction: row;
  }
  .md\:flex-col{
    flex-direction: column;
  }
  .md\:items-center{
    align-items: center;
  }
  .md\:justify-evenly{
    justify-content: space-evenly;
  }
  .md\:border-t-0{
    border-top-width: 0px;
  }
  .md\:border-l{
    border-left-width: 1px;
  }
  .md\:border-t{
    border-top-width: 1px;
  }
  .md\:border-b{
    border-bottom-width: 1px;
  }
  .md\:border-gray-200{
    --tw-border-opacity: 1;
    border-color: rgb(229 231 235 / var(--tw-border-opacity));
  }
  .md\:bg-gray-200{
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
  }
  .md\:bg-white{
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .md\:p-10{
    padding: 2.5rem;
  }
  .md\:pb-10{
    padding-bottom: 2.5rem;
  }
  .md\:shadow-xl{
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  }
}

@media (max-width: 1023px){
  .lg\:col-span-2{
    grid-column: span 2 / span 2;
  }
  .lg\:col-span-1{
    grid-column: span 1 / span 1;
  }
  .lg\:mb-5{
    margin-bottom: 1.25rem;
  }
  .lg\:mr-0{
    margin-right: 0px;
  }
  .lg\:mb-6{
    margin-bottom: 1.5rem;
  }
  .lg\:h-auto{
    height: auto;
  }
  .lg\:w-auto{
    width: auto;
  }
  .lg\:w-full{
    width: 100%;
  }
  .lg\:grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .lg\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .lg\:flex-col{
    flex-direction: column;
  }
  .lg\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (max-width: 1279px){
  .xl\:col-span-2{
    grid-column: span 2 / span 2;
  }
  .xl\:col-span-1{
    grid-column: span 1 / span 1;
  }
  .xl\:mt-1{
    margin-top: 0.25rem;
  }
  .xl\:grid-cols-1{
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .xl\:grid-cols-2{
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
